@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --cyan: hsl(179, 62%, 43%);
    --cyan_light: hsl(179, 47%, 52%);
    --bright_yellow: hsl(71, 73%, 54%);
    --light_gray: hsl(204, 43%, 93%);
    --grayish_blue: hsl(218, 22%, 49%);
}

body {
    font-size: 16px;
    font-family: "Karla", sans-serif;
    background-color: var(--light_gray);
    color: var(--light_gray);
}

.content {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
    margin: auto;
}

.section {
    width: 100%;
    padding: 20px;
}

h1 {
    font-weight: 700;
    color: var(--cyan);
    font-size: 1.5em;
}

h2 {
    color: white;
    margin-bottom: 0px;
}

#join {
    background-color: white;
    color: var(--grayish_blue);
    line-height: 1.7em;
}

#bright-yellow {
    color: var(--bright_yellow);
    font-weight: 800;
    font-size: 1.1em;
}

#subscription {
    background-color: var(--cyan);
    padding-bottom: 0px;
    }

button {
    background-color: var(--bright_yellow);
    color: white;
    border-style: none;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    align-self: center;
    font-size: 1.1em;      
}

button:hover {
    background-color: rgb(93, 228, 228);
    color: rgb(96, 81, 182);
}

#why {
    background-color: var(--cyan_light);
    height: 100%;
}

#why-us-list {
    list-style: none;
    line-height: 1.4em;
    padding-left: 0pt;
}

#price {
    font-size: 2em;
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
}

footer {
    width: 60%;
    margin: auto;
    text-align: center;
}
.attribution {
    font-size: 11px;
    width: 90%; 
    margin: 40px auto;
    color: var(--grayish_blue);
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

@media (min-width: 640px) {
    .content {
        max-width: 80%;
    }

}

@media (min-width: 790px) {
   

    .content {
        margin-top: 100px;
        max-width: 720px;
        width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #join {
        width: 100%
    }

    #subscription {
        width: 50%;
        padding-left: 20px;
    }

    #why {
        height: 100%;
        width: 50%;
        padding-left: 30px;
        padding-bottom: 40px;
    }  
}